@import "./font-face";

:root {
  --active-clr: #5f48f9;
  --error-clr: #ff3f3f;
  //
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 20px;
  //
  --spacer-s: 4px;
  --spacer-m: 8px;
  --spacer-l: 16px;
  --spacer-xl: 24px;
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 16px;
  background-color: var(--base-clr);
}

hr {
  margin: var(--spacer-l) 0;
}
