@import "./font-face";

:root {
  //
  --white-clr: #fff;
  --light-clr: #eff2f3;
  --middle-clr: #e2e5e5;
  --semi-dark-clr: #c7cdcf;
  --dark-clr: #353738;
  //
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 20px;
  //
  --spacer-s: 4px;
  --spacer-m: 8px;
  --spacer-l: 16px;
  --spacer-xl: 24px;
  //
  --control-height: 32px;
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 16px;
  background-color: var(--light-clr);
}
