@import './font-face';

:root {
  //
  --white-clr: #fff;
  --light-clr: #eff2f3;
  --middle-clr: #e2e5e5;
  --semi-dark-clr: #c5ced1;
  --dark-clr: #353738;
  --danger: #c04c3d;
  //
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 20px;
  //
  --spacer-xs: 2px;
  --spacer-s: 4px;
  --spacer-m: 8px;
  --spacer-l: 16px;
  --spacer-xl: 24px;
  //
  --control-height: 30px;
  //
  --hover-speed: 0.05s;
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: var(--white-clr);
  background-color: var(--dark-clr);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin: 0;
  background-color: var(--light-clr);
}
