@import "../../styles/mixins";

.wrap {
  display: flex;
  flex-direction: column;
}

.label {
  @include label;
}

.input {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: var(--spacer-m) var(--spacer-s);
  height: var(--control-height);
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius-m);
  transition: all var(--hover-speed) ease;
  &:disabled {
    pointer-events: none;
  }
}

.textarea {
  resize: vertical;
}

.lightStyle {
  background-color: var(--white-clr);
  &:hover {
    background-color: var(--light-clr);
  }
}

.darkStyle {
  background-color: var(--light-clr);
  &:hover {
    background-color: var(--middle-clr);
  }
}
