.wrap {
  display: flex;
  flex-direction: column;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  transform: translateX(var(--spacer-s));
  opacity: 0.5;
  width: 100%;
  font-size: 12px;
  margin-bottom: var(--spacer-s);
}

.input {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: var(--spacer-s);
  height: var(--control-height);
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--radius-m);
  transition: all var(--hover-speed) ease;
  &:disabled {
    &:hover {
      background-color: unset;
    }
  }
}

.lightStyle {
  background-color: var(--white-clr);
  &:hover {
    background-color: var(--light-clr);
  }
}

.darkStyle {
  background-color: var(--light-clr);
  &:hover {
    background-color: var(--middle-clr);
  }
}
