@import "../../styles/mixins";

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.label {
  @include label;
}

.input {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: var(--spacer-s);
  height: var(--control-height);
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: var(--radius-m);
  transition: all var(--hover-speed) ease;
}

.disabled {
  @include disabled;
}

.textarea {
  resize: none;
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  min-height: var(--control-height);
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.lightStyle {
  background-color: var(--white-clr);
  &:hover {
    background-color: var(--light-clr);
  }
}

.darkStyle {
  background-color: var(--light-clr);
  &:hover {
    background-color: var(--middle-clr);
  }
}

.icon {
  position: absolute;
  bottom: 4px;
  left: 6px;
}

.withIcon {
  padding-left: 30px;
}
