.card {
  animation-name: newCard;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.header {
  display: flex;
  &_name {
    input {
      font-weight: bold;
    }
  }
  button {
    margin-left: var(--spacer-s);
  }
}

.section {
  display: flex;
  // margin-top: var(--spacer-s);
}

.input {
  flex: 1;
  margin-bottom: var(--spacer-m);
  margin-right: var(--spacer-s);
  &:last-child {
    margin-right: 0;
  }
}

.direction {
  flex: inherit;
}

.spaceBetween {
  flex: 0 1 80px;
}

.paddingsInput {
  display: flex;
  flex: 1;
  position: relative;
}

.space {
  input {
    font-weight: bold;
  }
}

@keyframes newCard {
  0% {
    border: 1px solid var(--dark-clr);
    transform: translateY(-8px) scale(1.02) rotate(4deg);
    opacity: 0;
  }
  20% {
    transform: translateY(8px) scale(0.98) rotate(2deg);
    opacity: 1;
  }
  30% {
    transform: translateY(-4px) scale(1) rotate(0deg);
  }
  50% {
    transform: translateY(2px) scale(1);
  }
  70% {
    border: 1px solid var(--middle-clr);
    transform: translateY(-2px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
