.card {
  animation-name: newCard;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  input {
    font-weight: bold;
  }
}

.header {
  display: flex;
  margin-bottom: var(--spacer-m);
  button {
    margin-left: var(--spacer-s);
  }
}

.section {
  display: flex;
  justify-content: flex-start;
}

.input {
  flex: 1;
  margin-right: var(--spacer-s);
  &:last-child {
    margin-right: 0;
  }
}

.direction {
  flex: inherit;
}

.spaceBetween {
  flex: 0 1 70px;
}

.adjustSection {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: var(--spacer-m) var(--spacer-m);
  border: 2px solid var(--middle-clr);
  margin-bottom: var(--spacer-s);
  &Title {
    font-weight: bold;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 12px;
    font-size: 12px;
  }
  &Children {
    display: flex;
    flex: 1;
  }
}

.inputButton {
  span {
    font-size: 12px;
  }
}

.space {
  flex-wrap: wrap;
  .input {
    margin-bottom: var(--spacer-m);
  }
  input {
    font-weight: bold;
  }
}

@keyframes newCard {
  0% {
    border: 1px solid var(--dark-clr);
    transform: translateY(-8px) scale(1.02) rotate(4deg);
    opacity: 0;
  }
  20% {
    transform: translateY(8px) scale(0.98) rotate(2deg);
    opacity: 1;
  }
  30% {
    transform: translateY(-4px) scale(1) rotate(0deg);
  }
  50% {
    transform: translateY(2px) scale(1);
  }
  70% {
    border: 1px solid var(--middle-clr);
    transform: translateY(-2px) scale(1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
