.wrap {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacer-s) * 3);
  border-radius: var(--radius-m);
  border: 1px solid var(--middle-clr);
  margin-bottom: var(--spacer-m);
  transition: all 0.1s ease;
  background-color: var(--white-clr);
  &:hover,
  &:focus {
    border: 1px solid var(--semi-dark-clr);
  }
}
