.app {
  position: relative;
  overflow-x: hidden;
  padding: calc(var(--spacer-m) * 2);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacer-m) + var(--spacer-s));
}

.title {
  flex: 1;
  input {
    font-size: 14px;
    font-weight: bold;
  }
}

.autoapply {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.icon {
  margin-right: calc(var(--spacer-m) * 1);
}
