.app {
  position: relative;
  overflow-x: hidden;
  padding: calc(var(--spacer-m) * 2);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--spacer-m) + var(--spacer-s));
}

.title {
  flex: 1;
  input {
    font-size: 14px;
    font-weight: bold;
  }
}
