.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: var(--control-height);
  padding: 8px;
  border-radius: var(--radius-m);
  transition: all var(--hover-speed) ease;
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

.lightStyle {
  background-color: var(--light-clr);
  &:hover {
    background-color: var(--middle-clr);
  }
}

.darkStyle {
  background-color: var(--white-clr);
  &:hover {
    background-color: var(--light-clr);
  }
}

.text {
  user-select: none;
  margin: 0 4px;
  color: var(--primary-clr);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.icon {
  user-select: none;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  z-index: 99;
  bottom: -24px;
  color: var(--white-clr);
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacer-s);
  background-color: var(--dark-clr);
  border-radius: var(--radius-s);
  width: max-content;
  transition: all 0.1s ease;
  &Left {
    left: 0;
  }
  &Center {
    left: 50%;
    transform: translateX(-50%);
  }
  &Right {
    right: 0;
  }
}
