.header {
  display: flex;
  &_name {
    input {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.section {
  display: flex;
  margin-bottom: var(--spacer-s);
}

.input {
  flex: 1;
  margin-bottom: var(--spacer-m);
  margin-right: var(--spacer-m);
  &:last-child {
    margin-right: 0;
  }
}

.space {
  input {
    font-size: 14px;
    font-weight: 600;
  }
}
